.link_buttons button{
    border: 2px solid orangered;
    padding: .75rem 0rem;
    box-shadow: .25rem .25rem 0 blue;
    margin-bottom: 1rem;
}
.link_buttons button:hover{
    box-shadow: .5rem .5rem blue;
    transition: all .5s;
}
.link_buttons a{
    padding: .75rem 1.5rem;
    background-color: rgba(255, 166, 0, 0.582);
    font-weight: bold;
}
.link_buttons a:active{
    color: green;
}
.link_buttons a:visited{
    color: brown;
}
.link_buttons a:hover{
    background-color: orange;
    color: yellow;
}

