table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    font-family: "Ubuntu";
    font-weight: bold;
}
th{
    text-align: left;
    padding: .5rem 1rem;
}
td{
    padding: .5rem 1rem;
    
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover{
    background-color: yellow;
    color: red;
}